// Responsive Mixins
// Galih Pratama (hanamura.iost@gmail.com)

@mixin respond($media) {

  /* Bootstrap Media Queries */
  /* Landscape phones and down */
  @if $media == xs {
    @media (max-width: 767px) { @content; }
  }
  /* Landscape phone to portrait tablet */
  @else if $media == sm {
    @media (min-width: 768px) and (max-width: 991px) {@content; }
  }
  /* Portrait tablet to landscape and desktop */
  @else if $media == md {
    @media (min-width: 992px) and (max-width: 1199px) { @content; }
  }
  /* Desktop and large desktop */
  @else if $media == lg {
    @media (min-width: 1200px) { @content; }
  }

  /* Display density */
  /* Non retina */
  @else if $media == non-retina {
    @media screen and (-webkit-max-device-pixel-ratio: 1) { @content; }
  }
  /* Retina only */
  @else if $media == retina {
    @media screen and (-webkit-min-device-pixel-ratio: 2) { @content; }
  }
  /* 3x only */
  @else if $media == retina-3x {
    @media screen and (-webkit-min-device-pixel-ratio: 3) { @content; }
  }
  /* 4x only */
  @else if $media == retina-4x {
    @media screen and (-webkit-min-device-pixel-ratio: 4) { @content; }
  }

  /* Devices-specified */
  /* iPhone 5/5S/SE */
  @else if $media == iphone-5 {
      @media only screen
      and (min-device-width : 320px)
      and (max-device-width : 568px) { @content; }
  }
  /* iPhone 5/5S/SE - Portrait */
  @else if $media == iphone-5-portrait {
      @media only screen
      and (min-device-width : 320px)
      and (max-device-width : 568px)
      and (orientation : portrait) { @content; }
  }
  /* iPhone 5/5S/SE - Landscape */
  @else if $media == iphone-5-landscape {
      @media only screen
      and (min-device-width : 320px)
      and (max-device-width : 568px)
      and (orientation : landscape) { @content; }
  }

  /* iPhone 2G, 3G, 4, 4S */
  @else if $media == iphone-4 {
    @media only screen
    and (min-device-width : 320px)
    and (max-device-width : 480px) { @content; }
  }
  /* iPhone 2G, 3G, 4, 4S - Portrait */
  @else if $media == iphone-4-portrait {
    @media only screen
    and (min-device-width : 320px)
    and (max-device-width : 480px)
    and (orientation : portrait) { @content; }
  }
  /* iPhone 2G, 3G, 4, 4S - Landscape */
  @else if $media == iphone-4-landscape {
    @media only screen
    and (min-device-width : 320px)
    and (max-device-width : 480px)
    and (orientation : landscape) { @content; }
  }

  /* iPad All generations - including iPad mini */
  @else if $media == ipad {
    @media only screen
    and (min-device-width : 768px)
    and (max-device-width : 1024px) { @content; }
  }

  /* iPad All generations - including iPad mini - Portrait*/
  @else if $media == ipad-portrait {
    @media only screen
    and (min-device-width : 768px)
    and (max-device-width : 1024px)
    and (orientation : portrait) { @content; }
  }

  /* iPad All generations - including iPad mini - Landscape*/
  @else if $media == ipad-landscape {
    @media only screen
    and (min-device-width : 768px)
    and (max-device-width : 1024px)
    and (orientation : landscape) { @content; }
  }


  /* Specific max-width */
  @else {
      @media only screen and (max-width: #{$media}px) { @content; }
  }
}

@mixin respondto($media...) {
  @each $mediatype in $media {
      @include respond($mediatype) {@content;}
  }
}
